.btnsComt
    position: absolute
    top: -1px
    right: 7vw
.flx
    display: flex
.btnR,.btnL
    background-color: transparent
    color: white
    transition: all ease .2
    border: none !important
    outline: none
    border-radius: 0 0 0 7px
    height: 20px
    width:120px
    cursor: pointer
    position: relative
    z-index: 2
.rela
    position: relative
.btnR
    border-radius: 0 0 7px 0
    margin-left: 2px

.icon
    position: relative
    right: -12px


.listCont
    width: 100%
    position: absolute
    top: 0
    left: 0
    height:0px
    background-color: #6B63B5
    border-radius: 0 0 7px 7px
    transitaion: all ease 1s
    z-index: 1
.btnsCont
    background-color: #6B63B5
    box-shadow: 0 0 3px 2px #1010105b
    z-index: 2
    padding: 3px 5px
    box-sizing: border-box
    border-radius: 0 0 7px 7px

@keyframes open 
    from 
        height: 0
    
    to 
        height: 300px
@keyframes close 
    from 
        height: 300px
    
    to 
        height: 0
@media only screen and (max-width:700px)
    .btnsComt
        bottom: 9px !important
        left: 0
        display: flex
        justify-content: center
        top: auto
        right: auto
        width: 100%
    .btnsCont,.listCont
        border-radius:7px 7px 0 0
    .listCont
        top: auto
        bottom: 0
    // .btnL
    //     border-radius: 7px 0 0 0 !important
    // .btnR
    //     border-radius: 0 7px 0 0  !important