.cont
    display: flex
    flex-direction: columns
    // align-items: flex-end
    // justify-content: end
    flex-wrap: wrap
    // height: 100%
.half
    width: 50%
    padding: 20px 40px
    box-sizing: border-box

.cart
    width: 100%
    height: 200px
    background-color: white
    display: flex
    border-radius: 12px
    box-shadow: 0 0 3px 2px #1010105b
    overflow: hidden
.dead
    // background-color: #aeb1b8
    filter: brightness(.75)

.imgcont
    width: 30%
    background-color: #dedede 
    min-width: 140px
    display: flex
    justify-content: center
    align-items: center


.rest
    width: 70%
    padding: 10px
    box-sizing: border-box
.rowCont
    display: flex

h1,h2,h3,h4,h5,h6, p
    margin: 0!important
.contGen
    box-sizing: border-box
    // overflow: auto
    max-height: 100%
    width: 100%
    display: flex
    flex-direction: column  
.img
    object-fit: cover
    object-position: center cener
    width: 100%

.jcc
    display: flex
    justify-content: center
.name
    margin: 15px 0 !important
    font-size: 20px
.imgRadious
    width: 130px
    height: 130px
    border-radius: 50%
    overflow: hidden
.iconCont
    position: relative
    width: 100%

.btnFav
    position: absolute
    right: 0px
    color: #999999
    transition: all ease .10s
    background-color: transparent
    cursor: pointer
    border: none
    outline: none
    font-size: 18px

.btnFav:active
    scale:.8

.smal
    color: #999999 
    font-size: 10px
.bold
    font-weight: bold
.data
    margin-left: 5px !important
.imgCont
    display: flex
    justify-content: center
    align-items: center
.hTit
    width: 200px
.btnSt,.bntStu
    border:2px solid #6B63B5
    outline: none
    color: white
    background-color: #1b1b23ac
    width: 200px
    height: 50px
    cursor: pointer
    font-family: Open Sans
    transition: all ease .2s
    border-radius: 3px
.btnSt:hover,.bntStu:hover
    background-color:  rgba(107, 99, 181, 0.6) 


.buttons
    display: flex

.btnHalf
    width: 50%
    display: flex
    padding: 20px
    box-sizing: border-box
.left
    justify-content: left
.right
    justify-content: right
.takeRest
    flex: 1
    overflow: auto
.Gryffindor
    background: linear-gradient(135deg, #FF0000 0%, #FED482 100%)
.Slytherin
    background: linear-gradient(135deg, #1C792B 0%, #82E95E 100%)
.Ravenclaw
    background: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%)
.Hufflepuff
    background: linear-gradient(135deg, #FFC700 0%, #FFF388 100%)
*
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

@media only screen and (max-width: 893px)
    .half
        width: 100% !important
@media only screen and (max-width:445px)
    .cart
        flex-direction: column
        height: auto
    .imgcont
        width: 100%
        padding: 5px
        box-sizing: border-box
    .rest
        width: 100%
    .rowCont
        flex-wrap: wrap
    .half
        padding: 10px 5px
